<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true" scanPeriod="60 seconds">
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
	<jmxConfigurator />
	
	<property name="COMMON_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{45} - %msg%n%rEx" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${COMMON_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
